.values{
margin-top: 10vh;
position: relative;
height: 40vh;
width: 70vw;
background: white;
left: 50%;
transform: translateX(-50%);
margin-bottom: 15vh;
padding-top: 4vh;
}

.carousel{
    width: 100vw;
    background: white;
}

.icons{
position: relative;
width: 90%;
background: white;
left: 50%;
transform: translateX(-50%);
display: flex;
justify-content: space-between;
}

.subtitle{
    text-align: center;
    margin-bottom: 7vh;
}

.textblock{
    min-width: 15vw;
    margin-right: 3vw;
}

.products{
    margin-top: 20vh;
    height: 50vh;
    width: 100vw;

}

.literie{
    max-width: 25vw;
    max-height: 45vh;
}

.decoration{
    max-width: 25vw;
    max-height: 45vh;
}

.productcards{
    display: flex;
    width: 70%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    justify-content: space-evenly;
}

.subtitle{
    text-align: center;
}

.products{
    position: relative;
    padding-top: 4vh;
}

.card{
    border: 1px solid rgba(128, 128, 128, 0.19);
    border-radius: 1%;
    width: 25vw;
    height: 57vh;
}

.p-img{
    width: 25vw;
    height: 45vh;
}

.prod-class{
    text-align: center;
}

.engagements{
    position: relative;
    margin-top: 30vh;
    height: 60vh;
    width: 100vw;
    background: #9999995a;
}

.eng-subtitle{

}

.eng-container{
    width: 80%;
    height: 100%;
    float: right;
    text-align: center;
}

.quotes{
    color: #d89a82;
    display: inline;
    font-weight: 700px;
    font-size: 100px;

}